body {
    text-align: center;
    background-color: #C3DBD9;
}

.refresh {
    margin: 5%;
    color: #BB6464;
    font-size: 5rem;
    font-family: 'Bree Serif', serif;
}

.players {
    display: inline-block;
    margin: 0 10% 10%;
    font-family: 'Delius', cursive;
    color: #789395;
    font-size: 2rem;
}

img {
    border-radius: 5%;
    color: #D9CE3F;
    width: 150px;
    height: 150px;
}

p {
    color: #BB6464;
    font-family: 'Delius', cursive;
}